footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #464646;
  color: #bebebe;
  padding: 30px 20px;
  padding-top: 50px;
  font-family: Arial, sans-serif;
}

#footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 2px solid #bebebe;
}

.footer-section {
  max-width: 300px;
  width: 100%;
}

.footer-section h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
  border-bottom: 2px solid #bebebe;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-section p, .footer-section ul {
  font-size: 0.9em;
}

.footer-section ul {
  list-style-type: none; /* Remove os marcadores de lista */
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #bebebe;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #fff; /* Cor do link ao passar o mouse */
  transform: translateY(-3px); /* Efeito de leve deslocamento no hover */
}

.social {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social a {
  color: #fff;
  transition: transform 0.3s ease;
}

.social a:hover {
  transform: translateY(-5px);
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  font-size: 0.9em;
  opacity: 0.8;
}

/* Responsividade */
@media (max-width: 768px) {
  #footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
  }

  .footer-section {
    max-width: 100%;
  }

  .footer-section ul li {
    text-align: center;
  }

  .footer-bottom {
    text-align: center;
  }
}
